body{
    background-color: rgba(46, 49, 49, 1);
    margin: 0;
}
.center{
    margin: 0 auto;
    text-align:center;
}
p{
    font-size:1.5rem;
    padding-top:1%;
    color: white;
    margin: 0;
}
#main{
    color:rgba(246, 36, 89, 1);
    font-size: 6rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 1%;

}
#secondary{
    color:white;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 1%;
}

.content{
    margin-top: 6%;
}


#btn{
    transform-origin: 50% 50%;
    padding: 1% 2%;
    background-color: rgba(46, 49, 49, 1);
    color: white;
    border: 2px solid white;
    font-size:1.2rem;
    margin: 6% 43%;
    text-align:center;
    width: 14%;
    box-shadow: 5px 5px 3px black;
}
#btn:hover{
    background-color:rgba(246, 36, 89, 1);
    box-shadow: 2px 2px 3px rgba(246, 36, 89, 1);

}
.nav{
    display: flex;
    justify-content: left;
    margin: 0;
}
.nav-content{
    font-size: 2rem;
    color: rgba(246, 36, 89, 1);
    padding: 1% 1%;
    margin: 0;
}
img{
    height: 80%;
    width:50%;
}
a{
    text-decoration: none;
    color: rgba(246, 36, 89, 1);
}

